<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/test/homes">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="/users/">CRUD MVC</a></li>
                        <li><a href='/test/homes'>Find Homes</a></li>
                        <li><a href='/test/nba'>NBA Stats</a></li>
                        <li><a href='/test/mlb'>MLB Stats</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</html>
