body {
    background-size: 10%, 10%;
    background-repeat: no-repeat;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
    padding: 8px;
    text-align: center;
}

.table-striped {
    background-color: #e6e4d8;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>thead>tr:nth-child(odd)>th {
    background-color: rgba(48, 38, 126, 0.5);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #ffa;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #4F4;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fcc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #88f;
    border-top: none;
}
